{{#> app}}
{{#*inline "content"}}
<div class="row">
<div class="col-md-6 col-lg-4 mb-2">
  <img src="/img/macbook.jpg" class="img-fluid rounded square-img" alt="Macbook">
</div>
<div class="col-md-6 col-lg-4 mb-2">
  <img src="/img/iphone17.jpg" class="img-fluid rounded square-img" alt="">
</div>
<div class="col-md-6 col-lg-4 mb-2">
  <img src="/img/camera.jpg" class="img-fluid rounded square-img" alt="">
</div>
<div class="col-md-6 col-lg-4 mb-2">
  <img src="/img/ring-light.jpg" class="img-fluid rounded square-img" alt="">
</div>
<div class="col-md-6 col-lg-4 mb-2">
  <img src="/img/eyeglass.jpg" class="img-fluid rounded square-img" alt="">
</div>
<div class="col-md-6 col-lg-4 mb-2">
  <img src="/img/headphone.jpg" class="img-fluid rounded square-img" alt="">
</div>
<div class="col-md-6 col-lg-4 mb-2">
  <img src="/img/electric-bike.jpg" class="img-fluid rounded square-img" alt="">
</div>
<div class="col-md-6 col-lg-4 mb-2">
  <img src="/img/backpack.jpg" class="img-fluid rounded square-img" alt="">
</div>
<div class="col-md-6 col-lg-4 mb-2">
  <img src="/img/microphone.jpg" class="img-fluid rounded square-img" alt="">
</div>
<div class="col-md-6 col-lg-4 mb-2">
  <img src="/img/watch.jpg" class="img-fluid rounded square-img" alt="">
</div>
<div class="col-md-6 col-lg-4 mb-2">
  <img src="/img/perfume.jpg" class="img-fluid rounded square-img" alt="">
</div>
<div class="col-md-6 col-lg-4 mb-2">
  <img src="/img/shoe.jpg" class="img-fluid rounded square-img" alt="">
</div>
</div>
{{/inline}}
{{/app}}